@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

:root {
    --primary: #7898FF;
    --secondary: #8E64C5;
    --app-grey: #F2F2F2;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
background: linear-gradient(110deg, var(--primary), var(--secondary));
height: 100vh;
}

h1{
  text-align: center;
  margin: 20px 0;
}

p {
  font-size: x-small;
  margin-bottom: -6px;
  
}

.card{
  background-color: white;
  border-radius: 20px;
  margin: 0 auto;
  height: 200px;
  width: cover;
  max-width: 410px;
}

.btnContainer{
  padding: 20px 0;
  text-align: center;
}
.btnContainer button{
  padding: 5px 15px;
}

img{
  border-radius: 28px;
  width: fit-content;
  padding: 15px;
}

.container{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title{
  font-size: 1.4em;
  color: #7898FF;
  padding-bottom: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mail{
  padding-top: 5px;
  color: #8E64C5;
  font-size: small;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #8E64C5;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}