body {
    background-image: linear-gradient(to bottom right, rgb(223, 215, 185), rgb(245, 222, 149));
    color: rgb(51, 51, 51);
}

h1 {
    color: #0d1b97;
}

a {
    color: white;
}

.job-title {
    background-image: linear-gradient(to bottom right, rgb(156, 153, 153), #333333);
    color: #ffffff;
}

#high {
    color: rgb(13, 27, 151);
}

ul {
    background-image: linear-gradient(to bottom right, rgb(88, 84, 84), #333333);
    color: rgb(223, 215, 185);
}